commands:
    01-download-java-agent:
        command: 'sudo curl --location https://download.newrelic.com/newrelic/java-agent/newrelic-agent/current/newrelic-java.zip > /var/newrelic-java.zip'
    02-unzip-java-agent:
        command: 'unzip /var/newrelic-java.zip -d /var/'
    03-Give-permissions-to-newrelic:
        command: 'chmod a+rwx /var/newrelic'
